body{
-webkit-user-select: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
font: 15px 'Roboto';
margin: 0px;
padding:0px;
overflow: hidden; 
border-left-style: solid;
border-left-width: 2px;
border-left-color: #4285f4;
border-right-style: solid;
border-right-width: 2px;
border-right-color: #4285f4;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

#header-wrap{

position: fixed;
top:0px;
height:50px;
display:block;
width:100%;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.28);
background-color:#4285f4;
}

#actionbar {
	position: fixed;
	left:55px;
	right:0px;

	width: 260px;
    height: 50px;
	background-color:#4285f4;
	text-align: center;
	}

#header {
	
	width:50px;
	font-size: 20px;
	color: white;
	white-space: nowrap;
	text-overflow: hidden;
}
#artist_name{
	font-size: 12px;
	color: white;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.img-holder {
position: fixed;
left: 0px;
top:0px;
width:55px;
height:50px;
    }
	
	.img-holder img {
    position:relative; 
	width:55px;
    height:50px;
    }

#search{
	fill:white;
	margin:auto;
position: fixed;
background-color:#4285f4;
width:40px;
height:50px;
top:0px;
right:0px;

}

#frame
{
min-height: 430px;
max-height: 430px;
height: 430px;
}

.scrollbar
{	
	top:50px;
	height: 418px;
	width: 100%;
	float: left;
	margin-bottom: auto;
	overflow:hidden;
	text-align: center;
	margin-bottom: auto;
	font-size: 15px;
	position: fixed;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	line-height: 1.7;
	user-select: none;
	position: fixed;
	font-weight: 400;
}
